{% extends 'admin_side/base.html' %}
{% load static %}

{% block content%}


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
        </div>
    </div>
    <div class="card">
        
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                Name: {{user.username}}  <br>
                                Email: {{user.email}} <br>
                                {% if order %}
                                    Phone: {{ order.phone_number }}
                                {% endif %}
                            </p>
                        </div>
                    </article>
                </div> <!-- col// -->
                  
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            {% if order %}
                                <p class="mb-1">
                                    Address: {{ order.first_name }} {{ order.last_name }} <br>
                                    {{ order.address }} <br>
                                    {{ order.town_city }}, {{ order.state }} <br>
                                    {{ order.zip_code }}
                                </p>
                            {% else %}
                                <p class="mb-1">No address available</p>
                            {% endif %}
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-payment"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Payment info</h6>
                            <p class="mb-1">
                                Type: {{ ord.payment.payment_method }}<br>
                                Order: {{ ord.order_number }} <br>
                                {% if ord.coupon_applied %}
                                    Total: ₹{{ order_actual_total }} <br>
                                    Coupon discount: ₹{{ ord.coupon_discount }} <br>
                                    Coupon applied: {{ ord.coupon_applied.coupon_code }} <br>
                                {% endif %}
                            </p>
                        </div>
                    </article>
                </div>

                
            </div> <!-- row // -->
            <div class="row m-3">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Status</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%">Total</th>
                                    <th width="40%" class="text-end">Change Status</th>
                                </tr>
                            </thead>
                            {% for order_product in orderproduct %}
                            <tbody>
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="{{ order_product.images.url }}" style="max-width: 70px;">
                                            </div>
                                            <div class="info"> {{ order_product.product_variant }} </div>
                                        </a>
                                    </td>
                                    <td class="badge rounded-pill alert-success text-success"> {{ order_product.order_status }} </td>
                                    <td> {{ order_product.product_price }} </td>
                                    <td> {{ order_product.quantity }} </td>
                                    <td> {{ order_product.total }} </td>
                                    {% if order_product.order_status != "Cancelled User" and order_product.order_status != "Returned User"%}

                                    <td>
                                        <select onchange="handleChange(this)">
                                            <option value="" disabled selected>Change status</option>
                                            <option value="{% url 'admin_app:change_status' order_product.id 'Accepted' user.id %}">Accepted</option>
                                            <option value="{% url 'admin_app:change_status' order_product.id 'Delivered' user.id %}">Delivered</option>
                                            <option value="{% url 'admin_app:change_status' order_product.id 'Cancelled Admin' user.id %}">Cancelled Admin</option>

                                        </select>
                                    </td>
                                    {% elif order_product.order_status == "Cancelled User" %}
                                    <td style="color:red">Cancelled by User</td>

                                    {% elif order_product.order_status == "Returned User" %}

                                    <td style="color:red">Returned by User</td>
                                    {% endif %}
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="">
                    <strong style="font-weight: bold;">Grand total: ₹{{ ord.order_total }}</strong>
                </div>
                <div class="col-lg-2">
                    
                </div> <!-- col// -->
               
            </div>
        
        </div> <!-- card-body end// -->

    </div> <!-- card end// -->
</section> <!-- content-main end// -->

<script>
    function handleChange(select) {
        if (select.value !== '') {
            window.location.href = select.value;
        }
    }
</script>

{% endblock %} 