{% extends 'admin_side/base.html' %}
{% load static %}

{% block content%}
    <section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    {% for order_list in order_lists %}
                        <tbody>
                            <tr>
                                <td><b><a href="{% url 'admin_app:admin_orders_detail' user_id=order_list.user.id order_number=order_list.order_number %}">{{ order_list.order_number }}</a></td>
                                <td>{{ order_list.user.username }}</td>
                                <td>{{ order_list.user.email }}</td>
                                <td>
                                    ₹{{ order_list.order_total }}
                                </td>
                                <td>{{ order_list.created_at }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->

{% endblock %} 