{% extends 'admin_side/base.html' %}
{% load static %}

{% block content%}
    <section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            {% comment %} <p>Lorem ipsum dolor sit amet.</p> {% endcomment %}
        </div>
        {% comment %} <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white">
        </div> {% endcomment %}
    </div>
    <div class="card mb-4">
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Total</th>
                            {% comment %} <th scope="col">Status</th> {% endcomment %}
                            <th scope="col">Date</th>
                            {% comment %} <th scope="col" class="text-end"> Action </th> {% endcomment %}
                        </tr>
                    </thead>
                    {% for order_list in order_lists %}
                        <tbody>
                            <tr>
                                <td><b><a href="{% url 'admin_app:admin_orders_detail' user_id=order_list.user.id order_number=order_list.order_number %}">{{ order_list.order_number }}</a></td>
                                <td>{{ order_list.user.username }}</td>
                                <td>{{ order_list.user.email }}</td>
                                <td>
                                    {% comment %} {% for order_product in order_list.order_product.all %}
                                        ₹{{ order_product.total }} for {{ order_product.quantity }} item<br>
                                    {% endfor %} {% endcomment %}
                                    ₹{{ order_list.order_total }}
                                </td>
                                {% comment %} <td><span class="badge rounded-pill alert-warning">{{ order_list.order_status }}</span></td> {% endcomment %}
                                <td>{{ order_list.created_at }}</td>
                                {% comment %} <td class="text-end">
                                    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                                            <i class="material-icons md-more_horiz"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">View detail</a>
                                            <a class="dropdown-item" href="#">Edit info</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div> <!-- dropdown //end -->
                                </td> {% endcomment %}
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    {% comment %} <div class="col-12 pb-1">
        <nav aria-label="Page navigation">
        {% if paged_orders.has_other_pages %}
          <ul class="pagination justify-content-center mb-3">
            {% if paged_orders.has_previous %}
            <li class="page-item"><a class='page-link' href="?page={{ paged_orders.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class='page-link' href="#">Previous</a></li>

            {% endif %}

            {% for i in paged_orders.paginator.page_range %}
                {% if paged_orders.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {% if paged_orders.has_next %}
            <li class="page-item"><a class='page-link' href="?page={{ paged_orders.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class='page-link' href="#">Next</a></li>

            {% endif %}

          </ul>
        {% endif %}
        </nav>
    </div>  {% endcomment %}
</section> <!-- content-main end// -->

{% endblock %} 