{% extends 'admin_side/base.html' %}
{% load static %}

{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Product Variants - {{ product.product_name }}</h2>
        </div>
        <div>
            {% comment %} <a href="{% url 'product_management_app:Week_2/add-product-variant' selected_product.id %}" class="btn btn-primary btn-sm rounded">Add New Variant</a> {% endcomment %}
            <a href="{% url 'product_management_app:add_variant' product.id %}" class="btn btn-primary btn-sm rounded">Add New Variant</a>

        </div>
    </div>

    {% comment %}<div class="row">
        {% for variant in product_variants %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-60">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center">
                        {% if variant.thumbnail_image %}
                            <img src="{{ variant.thumbnail_image.url }}" class="card-img-top" alt="Product Image">
                        {% else %}
                            <img src="{% static 'path_to_placeholder_image.jpg' %}" class="card-img-top" alt="Product Image Placeholder">
                        {% endif %}
                        <div class="mt-3 text-center">
                            <h5 class="card-title">{{ variant.product.brand }}</h5>
                            {% if variant.attributes.all %}
                                {% comment %} <p class="card-text"><h5>Attributes:</h5></p> {% endcomment %}{% comment %}
                                <ul class="list-unstyled">
                                    {% for attribute in variant.attributes.all %}
                                        <li>{{ attribute.attribute_value }} color</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <p class="card-text"><h5>Category:</h5> {{ variant.product.category }}</p>
                        </div>
                        
                        <div class="mt-auto text-center">
                            <p class="card-text"><strong>Price:</strong> {{ variant.sale_price }}</p>
                            <p class="card-text"><strong>Created Date:</strong> {{ variant.created_at }}</p>
                            <div class="d-flex justify-content-center">
                                {% comment %} <a href="{% url 'product_management_app:edit-product-variant' variant.id %}" class="btn btn-sm btn-primary me-2">Edit</a>
                                <a href="{% url 'product_management_app:delete-product-variant' variant.id %}" class="btn btn-sm btn-danger">Delete</a> {% endcomment %}{% comment %}
                                <a href="" class="btn btn-sm btn-primary me-2">Edit</a>
                                <a href="" class="btn btn-sm btn-danger">Delete</a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>{% endcomment %}


    <div class="row">
        {% for variant in product_variants %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-60 custom-card">
                    <div class="card-body">
                        <div style="font-size: 1.5em; margin-bottom: 0.5em;">{{ variant.variant_name }}</div>

                        <div class="d-flex flex-column align-items-center">
                            
                            {% if variant.thumbnail_image %}
                                <img src="{{ variant.thumbnail_image.url }}" class="card-img-top" alt="Product Image" style="width: 280.4px; height: 185.4px; ">
                            {% else %}
                                <img src="{% static 'path_to_placeholder_image.jpg' %}" class="card-img-top" alt="Product Image Placeholder" style="width: 280.4px; height: 185.4px; ">
                            {% endif %}
                            
                            <div class="mt-3 text-center">
                                <hr>
                                <div class="d-flex">
                                    <p class="card-text brand-text" style="margin-right: 15px;">Brand : {{ variant.product_name.product_brand.Brand_name }}</p>
                                    <p class="card-text category-text" >Category : {{ variant.product_name.category.category_name }}</p>
                                </div>
                                
                                <p class="card-text category-text" style="margin-top: -5px;">Sub-category : {{ variant.product_name.sub_category.sub_category_name }}</p>

                                {% if variant.attributes.all %}
                                    <ul class="list-unstyled attributes-list">
                                        {% for attribute in variant.attributes.all %}
                                        <li style="display: inline-block;">
                                            {% if not attribute.attribute_value|length < 3 %}
                                                <span style="margin-right: 10px;">Colour : {{ attribute.attribute_value }}   </span>
                                            {% else %}
                                                <span style="margin-right: 8px;"> Shoe size : {{ attribute.attribute_value }}</span>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                
                                {% comment %} {% if variant.product_var.category %}
                                    <p class="card-text category-text" style="margin-top: -5px;">Category : {{ variant.product_var.category }}</p>
                                {% else %}
                                    <p class="card-text category-text"  style="margin-top: -5px;">Category : No Category</p>
                                {% endif %} {% endcomment %}
                                
                                
                                
                            </div>
    
                            <div class="mt-auto text-center" >
                                <p class="card-text price-text" ><strong>Max price : </strong> {{ variant.max_price }} INR</p>
                                <p class="card-text price-text" style="margin-top: -5px;"><strong>Sale price : </strong> {{ variant.sale_price }} INR</p>
                                <p class="card-text date-text" style="margin-top: -5px;"><strong>Created date : </strong> {{ variant.created_at|date:"F d, Y" }}</p>
                                <div class="d-flex justify-content-center">
                                {% comment %} <a href="{% url 'product_management_app:edit-product-variant' variant.id %}" class="btn btn-sm btn-primary me-2">Edit</a>
                                <a href="{% url 'product_management_app:delete-product-variant' variant.id %}" class="btn btn-sm btn-danger">Delete</a> {% endcomment %}
                                <a href="{% url 'product_management_app:edit_variant' variant.id %}" class="btn btn-sm btn-primary me-2">Edit</a>
                                <a href="" class="btn btn-sm btn-danger me-2" style="padding: 10px 32px">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    

</section>




{% endblock %}





