{% extends "user_side/base.html" %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container  mt-50 mb-50">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-success text-center" role="alert">
                    <i class="fas fa-check-circle text-success fa-3x mb-3"></i>
                    <h3 class="card-title">Order Placed Successfully!</h3>
                    <p>Your order has been successfully placed. Thank you for shopping with us!</p>
                    <a href="{% url 'shop_app:index'  %}" class="btn mt-3"><i class="fi-rs-shopping-bag  mr-10"></i>Continue Shopping</a>
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock %}

