{% extends 'user_side/base.html' %}
{% load static %}

{% block content%}
    <main class="main">
        <section class="pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account' %}" class="nav-link active" id="dashboard-tab"  role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_my_orders' %}" class="nav-link" id="orders-tab"  role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_edit_address' %}" class="nav-link" id="account-detail-tab"  role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Edit Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_change_password' %}" class="nav-link" id="track-orders-tab"  role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-lock  mr-10"></i>Change Password</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'wallet_app:wallet' %}" class="nav-link " id="track-orders-tab"  role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-credit-card mr-10"></i>Wallet</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">


                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card " >
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello {{user.username}}!! </h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>
                                            <div class="d-flex align-items-center mb-4" >    
                                                <div>
                                                    &emsp;&emsp;
                                                </div>
                                            <div class="col-md-5">
                                                <div class="card pt-2 pb-1" style="text-align:center;">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Total Orders</h5>
                                                        <h4>{{orders_count}}</h4>
                                                        <a href="{% url 'account_app:account_my_orders' %}">View Orders</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                &emsp;&emsp;&emsp;&emsp;
                                            </div>

                                            <div class="col-md-5">
                                                <div class="card" style="text-align:center;">
                                                    <div class="card-body">
                                                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="User Profile Picture" class="avatar" width="50" height="50" style="border-radius:50%">
                                                        <p class="mb-0">{{user.username}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                &emsp;&emsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %} 