{% extends 'user_side/base.html' %}
{% load static %}

{% block content%}

    <main class="main">

        <section class="pt-95 pb-95">     
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 m-auto">
                        <div class="row">
                            <div class="card mx-auto card-login">
                                <div class="card-body">
                                    <h3 class="card-title mb-4">Login</h3>
                                    <form action="{% url 'user_app:user_login' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {% if messages %}
                                            {% for message in messages %}
                                            <span class="error" style="position: relative;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">{{message}}</span>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control" placeholder="Username or email" type="text" name="username">
                                        </div> <!-- form-group// -->
                                        <div class="mb-3">
                                            <input class="form-control" placeholder="Password" type="password" name="pass">
                                        </div> <!-- form-group// -->
                                        <div class="mb-3">
                                            <a href="{% url 'user_app:forgot_password' %}" class="float-end font-sm text-muted">Forgot password?</a>
                                            <label class="form-check">
                                                
                                            </label>
                                        </div> <!-- form-group form-check .// -->
                                        <div class="mb-4">
                                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                                        </div> <!-- form-group// -->
                                    </form>
                                    <p class="text-center mb-4">Don't have account? <a href="{% url 'user_app:user_signup' %}">Sign up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </main>
    
{% endblock %} 