{% extends 'user_side/base.html' %}
{% load static %}

{% block content%}
    <main class="main">
        {% comment %} <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div> {% endcomment %}
        <section class="mt-50 mb-50">
            <div class="container">
                {% comment %} <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Already have an account?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to login</a></span>
                        </div>
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>{% endcomment %}
                {% comment %} <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div> {% endcomment %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                        <form  id="myForm"  method="POST">           {% comment %} {% url 'order_app:place_order_cod' %} {% endcomment %}
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" required="" name="first_name" placeholder="First name *" >                    {% comment %} {% if add_value %}value="{{ address.first_name }}"{% endif %} {% endcomment %}

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" required="" name="last_name" placeholder="Last name *">
                                    </div>
                                </div>
                            </div>
                            
                            
                            {% comment %} <div class="form-group">
                                <input required="" type="text" name="cname" placeholder="Company Name">
                            </div> {% endcomment %}
                            <div class="form-group">
                                <input type="text" name="address" required="" placeholder="Address *">
                            </div>
                            {% comment %} <div class="form-group">
                                <input type="text" name="billing_address2" required="" placeholder="Address line2">
                            </div> {% endcomment %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input required="" type="text" name="town_city" placeholder="City / Town *">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input required="" type="text" name="state" placeholder="State *">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input required="" type="text" name="zip_code" placeholder="Postcode / ZIP *">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input required="" type="text" name="phone_number" placeholder="Phone *">
                                    </div>
                                </div>
                            </div>
                            
                            {% comment %} <div class="form-group">
                                <input required="" type="text" name="email" placeholder="Email address *">
                            </div> {% endcomment %}
                            {% comment %} <div class="form-group">
                                <div class="checkbox">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="createaccount">
                                        <label class="form-check-label label_info" data-bs-toggle="collapse" href="#collapsePassword" data-target="#collapsePassword" aria-controls="collapsePassword" for="createaccount"><span>Create an account?</span></label>
                                    </div>
                                </div>
                            </div>
                            <div id="collapsePassword" class="form-group create-account collapse in">
                                <input required="" type="password" placeholder="Password" name="password">
                            </div> {% endcomment %}





                            <div class="ship_detail">
                                <div class="form-group">
                                    <div class="check-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
                                            <label class="form-check-label label_info" for="differentaddress"><span>Ship to home address?</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div id="home_address_dropdown" class="different_address" style="display: none;">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h5 class="mb-0">Home Address</h5>
                                        </div>
                                        <div class="card-body">
                                            <address id="home_address">
                                                {{ address.first_name }} {{ address.last_name }}<br>
                                                {{ address.address }}<br>
                                                {{ address.town_city }}, {{ address.state }}-{{ address.zip_code }}<br>
                                                Ph: {{ address.phone_number }}
                                            </address>
                                            <a href="{% url 'account_app:account_edit_address' %}" class="btn-small">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            





                            
                            {% comment %} <div class="mb-20">
                                <h5>Additional information</h5>
                            </div>
                            <div class="form-group mb-30">
                                <textarea rows="5" placeholder="Order notes"></textarea>
                            </div> {% endcomment %}
                            <hr>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h4>Payment</h4>
                                </div>


                                <div class="payment_option">
                                    {% comment %} <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Direct Bank Transfer</label>
                                        <div class="form-group collapse in" id="bankTranfer">
                                            <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                        </div>
                                    </div> 
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#razorpay" aria-controls="checkPayment">Razorpay</label>
                                        <div class="form-group collapse in" id="checkPayment">
                                            <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                        </div> 
                                    </div>{% endcomment %}
                                    {% comment %} <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#cash_on_delivery" aria-controls="cash_on_delivery">Cash on delivery</label>
                                      
                                        {% comment %} <div class="form-group collapse in" id="paypal">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div> 
                                    </div> {% endcomment %}


                                    <label>
                                        <div>
                                            <input type="radio" name="payment-option" value="cod" checked>Cash on delivery
                                        </div>
                                    </label>
                                    <label>
                                        <div>
                                            <input type="radio" name="payment-option" value="razorpay">Razorpay
                                        </div>
                                    </label>
                                    
                                    <!-- Button for Cash on Delivery -->
                                    {% comment %} <button id="cod-button" style="display: inline-block;">Place Order</button> {% endcomment %}
                                    
                                    <!-- Button for Razorpay -->
                                    {% comment %} <button id="razorpay-button" style="display: none;">Pay with Razorpay</button> {% endcomment %}
                                
                                </div>
                                
                                {% comment %} <div class="hidden mt-30 ">
                                    
                                </div>{% endcomment %}
                                <div id="card-button-container" >
                                    <button id="cod-button" type="submit" name="submit" class="btn btn-fill-out btn-block mt-30">Place Order</button>
                                </div>
                                <div id="card-button-container" >
                                    <button id="razorpay-button" type="submit" class="btn btn-fill-out btn-block mt-30" style="display: none;">Pay with Razorpay</button>
                                </div>
                                 
                            </div>
                            {% comment %} <a href="#" class="btn btn-fill-out btn-block mt-30">Place Order</a> {% endcomment %}
                            {% comment %} <a href="{% url 'order_app:place_order_cod' %}"> {% endcomment %}
                            
                            {% comment %} {{ form.as_p }} {% endcomment %}
                            {% comment %} <button type="submit" name="submit" class="btn btn-fill-out btn-block mt-30">Place Order</button> {% endcomment %}
                            {% comment %} </a> {% endcomment %}

                        </form>  {% comment %} ###### Closing this FORM at the bottom ###### {% endcomment %}


                        {% comment %} <button id="rzp_button1">Pay with Razorpay</button> {% endcomment %}
                    </div>
                    <div class="col-md-6">
                        <div class="order_review" style="margin-top:-25px">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product Image</th>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                            <tr>
                                                <td class="image product-thumbnail "><img src="{{ cart_item.variant.thumbnail_image.url }}" alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html">{{ cart_item.variant.variant_name }}</a></h5> <span class="product-qty">Qty: {{ cart_item.quantity }}</span>
                                                </td>
                                                <td>{{ cart_item.variant.sale_price }} INR </td>
                                            </tr>


                                        {% endfor %}




                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">{{total}} INR</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">{{total}} INR</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                     {% comment %} </form> {% endcomment %}


                    
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        // Get references to the buttons
        const codButton = document.getElementById('cod-button');
        const razorpayButton = document.getElementById('razorpay-button');
    
        // Add event listener to the radio buttons
        document.querySelectorAll('input[name="payment-option"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                // Check the value of the selected radio button
                if (this.value === 'cod') {
                    // If Cash on Delivery is selected, show the Place Order button and hide the Razorpay button
                    codButton.style.display = 'inline-block';
                    razorpayButton.style.display = 'none';
                } else if (this.value === 'razorpay') {
                    // If Razorpay is selected, show the Razorpay button and hide the Place Order button
                    codButton.style.display = 'none';
                    razorpayButton.style.display = 'inline-block';
                }
            });
        });
    </script>


<script>

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    document.getElementById("myForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        
        // Get the selected payment method
        const paymentMethod = document.querySelector('input[name="payment-option"]:checked').value;
        console.log(paymentMethod,'ppppppppppp')

        const shippingFirstName = document.querySelector('[name="first_name"]');
        const shippingLastName = document.querySelector('[name="last_name"]');
        const shippingPhoneNumber = document.querySelector('[name="phone_number"]');
        const shippingAddress = document.querySelector('[name="address"]');
        const shippingTownCity = document.querySelector('[name="town_city"]');
        const shippingState = document.querySelector('[name="state"]');
        const shippingZipCode = document.querySelector('[name="zip_code"]');

        const formData = {}

        formData.first_name = shippingFirstName.value;
        formData.last_name = shippingLastName.value;
        formData.phone_number = shippingPhoneNumber.value;
        formData.address = shippingAddress.value;
        formData.town_city = shippingTownCity.value;
        formData.state = shippingState.value;
        formData.zip_code = shippingZipCode.value;
        formData.selected_payment_method = paymentMethod;

        console.log(formData,'ddddddddd')


        if(paymentMethod === "cod"){

        fetch('{% url "order_app:place_order_cod" %}', {
        method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
                // Add any additional headers if needed
            },
            body: JSON.stringify({
            formData,

            }),
            })
            .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Network response was not ok.');
            }
        })
        .then(data => {
            console.log('Response333:', data);
            // Log the context if the response is successful
            window.location.href= "{% url 'order_app:success_page' %}";
            console.log('Context:', data.context);
            // You can handle the context data here
        })
        .catch(error => {
            console.error('Error:', error);
            
        });

                
        }

        if(paymentMethod === "razorpay"){
            fetch('{% url "order_app:place_order_cod" %}', {
                method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrftoken,
                        // Add any additional headers if needed
                    },
                    body: JSON.stringify({
                    formData,
        
                    }),
                    })
                    .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Network response was not ok.');
                    }
                })
                .then(data => {
                    console.log('Response11111:', data);
                    // Log the context if the response is successful
                    //window.location.href= "{% url 'order_app:success_page' %}";
                    const order_id = data.context.order_id;
                    console.log(order_id)
                    var options = {
                        "key": "rzp_test_qoXpACMLfXbWKp", // Enter the Key ID generated from the Dashboard
                        "amount": data.context.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "Acme Corp",
                        "description": "Test Transaction",
                        "image": "https://example.com/your_logo",
                        "order_id": order_id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "callback_url": "http://127.0.0.1:8000/place_order_razpay/",
                        "prefill": {
                            "name": "Gaurav Kumar",
                            "email": "gaurav.kumar@example.com",
                            "contact": "9000090000"
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    
                    rzp1.on("payment.success", function (response) {
                        // console.log('Payment success:', response);
                        window.location.reload(); // Reload the page after successful payment
                        // Handle payment success, e.g., redirect to a success page
                        //window.location.href= "{% url 'order_app:success_page' %}";
                    });

                    rzp1.on("payment.failed", function (response) {
                        //alert(response.error.code);
                        window.location.reload();
                        
                    });


                    rzp1.open();
                    e.preventDefault();
                    
                    console.log('Context:', data.context);
                    // You can handle the context data here
                })
                .catch(error => {
                    console.error('Error:', error);
                    
                });


        }


    });
    
    // Function to submit the form programmatically
    function customSubmit() {
        // Execute custom logic when the custom submit button is clicked
        console.log('Custom submit button clicked!');
        
        // You can add any additional logic here
        
        // If you want to submit the form programmatically, you can do so like this:
        document.getElementById('myForm').submit();
    }
    
</script>

    
    


    {% comment %} ----- Paypal ----- {% endcomment %}
    {% comment %} <script>
        // Listen for changes to the radio fields
        document.querySelectorAll('input[name=payment-option]').forEach(function(el) {
            el.addEventListener('change', function(event) {
                // If PayPal is selected, show the PayPal button
                if (event.target.value === 'paypal') {
                    document.querySelector('#card-button-container').style.display = 'none';
                    document.querySelector('#paypal-button-container').style.display = 'block';
                } else {
                    // If other payment option is selected, hide the PayPal button
                    document.querySelector('#card-button-container').style.display = 'block';
                    document.querySelector('#paypal-button-container').style.display = 'none';
                }
            });
        });

        // Hide Non-PayPal button by default
        document.querySelector('#card-button-container').style.display = 'block';

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                layout: 'horizontal',
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 48
            },
            createOrder: function(data, actions) {
                // Implement your createOrder function here
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                // Implement your onApprove function here
                return actions.order.capture().then(function(details){
                    // Show a success mesage to the buyer
                    alert('Transcation completed by ' + details.payer.name.given_name + '!');
                });
            }
        }).render('#paypal-button-container');
    </script> {% endcomment %}
    {% comment %} <script>
        //Render the PayPal button into #paypal-button-container
        paypal.Button({
            //Set up the transcation
            createOrder: function(data, actions){
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            //Finalize the transcation
            OnApprove: function(data, actions){
                return actions.order.capture().then(function(details){
                    // Show a success mesage to the buyer
                    alert('Transcation completed by ' + details.payer.name.given_name + '!');
                });
            }
        }).render('#paypal-button-container');
    </script> {% endcomment %}
    
    <!-- Paypal -->
    {% comment %}<script src="https://www.paypal.com/sdk/js?client-id=ARStyQ3opJleA8O07tyXDKuX-w6EvTK3sDdczfBEdGe6t5qXYDoizmU75gTRt7z0_Sgh8cZuxvIe7gcY&currency=INR"></script> {% endcomment %}

    {% comment %} <script>
        // Listen for changes to the radio fields
        document.querySelectorAll('input[name=payment-option]').forEach(function(el) {
            el.addEventListener('change', function(event) {

                // If PayPal is selected, show the PayPal button
                if (event.target.value === 'paypal') {
                    document.querySelector('#card-button-container').style.display = 'none';
                    document.querySelector('#paypal-button-container').style.display = 'inline-block';
                }

                // If Card is selected, show the standard continue button
                if (event.target.value === 'card') {
                    document.querySelector('#card-button-container').style.display = 'inline-block';
                    document.querySelector('#paypal-button-container').style.display = 'none';
                }
            });
        });

        // Hide Non-PayPal button by default
        document.querySelector('#card-button-container').style.display = 'inline-block';  //none

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                layout: 'horizontal',
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 48
            
            },

            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/create/', {
                    method: 'post'
                }).then(function(res) {
                    console.log(res)
                    return res.json();
                }).then(function(orderData) {
                    return orderData.id;
                });
            },

            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you

                    // This example reads a v2/checkout/orders capture response, propagated from the server
                    // You could use a different API or structure for your 'orderData'
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart(); // Recoverable state, per:
                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    }

                    if (errorDetail) {
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                    }

                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }
        }).render('#paypal-button-container');
    </script>  {% endcomment %}



    {% comment %} ---------- For shipping address ---------- {% endcomment %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const checkbox = document.getElementById('differentaddress');
            const homeAddress = document.getElementById('home_address');
    
            // Get shipping address fields
            const shippingFirstName = document.querySelector('[name="first_name"]');
            const shippingLastName = document.querySelector('[name="last_name"]');
            const shippingPhoneNumber = document.querySelector('[name="phone_number"]');
            const shippingAddress = document.querySelector('[name="address"]');
            const shippingTownCity = document.querySelector('[name="town_city"]');
            const shippingState = document.querySelector('[name="state"]');
            const shippingZipCode = document.querySelector('[name="zip_code"]');
    
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    // If checkbox is checked, populate shipping fields with home address details
                    const lines = homeAddress.textContent.trim().split('\n').map(line => line.trim());
                    const nameParts = lines[0].split(' ');
                    shippingFirstName.value = nameParts[0];
                    shippingLastName.value = nameParts.slice(1).join(' '); // Join remaining parts of the name
                    shippingPhoneNumber.value = lines[3].split(':')[1].trim();
    
                    shippingAddress.value = lines[1];
                    const cityStateParts = lines[2].split(',');
                    shippingTownCity.value = cityStateParts[0];
                    shippingState.value = cityStateParts[1].split('-')[0].trim();
                    shippingZipCode.value = cityStateParts[1].split('-')[1].trim();
                } else {
                    // If checkbox is unchecked, clear shipping fields
                    shippingFirstName.value = '';
                    shippingLastName.value = '';
                    shippingPhoneNumber.value = '';
    
                    shippingAddress.value = '';
                    shippingTownCity.value = '';
                    shippingState.value = '';
                    shippingZipCode.value = '';
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let add_value = false; // Variable to track whether to add value to shipping fields
            const checkbox = document.getElementById('differentaddress');
            const homeAddressDropdown = document.getElementById('home_address_dropdown');
    
            checkbox.addEventListener('change', function() {
                console.log("Checkbox checked:", this.checked); // Debugging statement
                homeAddressDropdown.style.display = this.checked ? 'block' : 'none';
                console.log("Dropdown display:", homeAddressDropdown.style.display); // Debugging statement
                add_value = this.checked; // Set add_value to true if checkbox is checked
                console.log("add_value:", add_value); // Debugging statement
            });
    
            // Handle dropdown visibility initially based on checkbox state
            homeAddressDropdown.style.display = checkbox.checked ? 'block' : 'none';
        });
    </script> 

      
    

    {% endblock %} 