{% extends 'user_side/base.html' %}
{% load static %}

{% block content%}

<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-40 p-3" style="border: ;">
                    <div class="card-body">
                        

                        <h3 class="mt-15">Order Details:</h3>
                        <hr>
                        <div class="card-body list-group mb-4">
                            <div class="d-flex justify-content-between" >
                                <div>
                                <p class="card-text mb-0">Order Number: {{ order_detail.order_number }}</p>
                                <p class="card-text mb-3">Order Date: {{ order_detail.created_at }}</p>    
                                </div>
                                <div class="card-text  mb-0 me-2">
                                    <p class="card-text text-right">Payment Method: {{ order_detail.payment.payment_method.method_name }}</p>
                                    
                                    {% if order_detail.payment.payment_status == "SUCCESS" %}
                                    <p class="card-text text-right " >Payment Status: <span class="text-success">{{ order_detail.payment.payment_status }}</span></p>
                                    {% elif order_detail.payment.payment_status == "PENDING" %}
                                    <p class="card-text text-right">Payment Status: <span class="text-warning">{{ order_detail.payment.payment_status }}</span></p>
                                    {% elif order_detail.payment.payment_status == "FAILED"  %}
                                    <p class="card-text text-right ">Payment Status: <span class="text-danger">{{ order_detail.payment.payment_status }}</span></p>
                                    {% endif %}

                                    {% if order_detail.coupon_applied %}
                                        <p class="card-text text-right">Total: ₹{{ order_actual_total }}</p>
                                        <p class="card-text text-right">Coupon discount: <span style="color:red">₹{{ order_detail.coupon_discount }}</span></p>
                                        <p class="card-text text-right">Coupon applied: {{ order_detail.coupon_applied.coupon_code }}</p>
                                    {% endif %}
                                    <p><strong>Grand Total : ₹{{ order_detail.order_total }}</strong></p>
                                </div> 
                                      
                                
                            </div>
                            <div class="d-flex" style="">  
                                <p class="card-text mb-0">Shipping Address: 
                                    <div class="card-body list-group  p-0 ms-1">
                                        <p class="card-text mb-0">{{ order_detail.first_name }} {{ order_detail.last_name }}</p>
                                        <p class="card-text mb-0">{{ order_detail.address }}</p>    
                                        <p class="card-text mb-0">{{ order_detail.town_city }}, {{ order_detail.state }}</p>  
                                        <p class="card-text mb-0">{{ order_detail.email }}</p> 
                                        <p class="card-text mb-0">{{ order_detail.phone_number }}</p> 
                                    </div>                                
                                </p> 
                                
                            </div> 
                            
                        </div>

                        <h5 class="mt-30 mb-15">Ordered Products</h5>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product Image</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Order Status</th>
                                        <th>Action/Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_products %}
                                        <tr>
                                            <td class="image product-thumbnail "><img src="{{ item.images.url }}" alt="{{ item.product_variant }}" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html">{{ item.product_variant }}</a></h5> 
                                                {% comment %} <span class="product-qty">Qty: {{ item.quantity }}</span> {% endcomment %}
                                            </td>
                                            <td>{{ item.quantity }} </td>
                                            <td>₹{{ item.product_price }} </td>
                                            <td class="product-details">{{ item.order_status }}</td>
                                            
                                            {% if item.order_status == "New" or item.order_status == "Accepted" %}
                                            <td><a href="{% url 'account_app:cancel_product' item.id %}" class="btn cancel-product">Cancel</a></td>
                                            {% elif item.order_status == "Delivered"%}
                                            <td><a href="{% url 'account_app:return_product' item.id %}" class="btn return-product">Return</a></td>
                                            {% else %}
                                            <td><div class="" disabled>Payment failed!!<br> Repay through wallet complete the order.</div></td>
                                                
                                            {% endif %}
                                            
                                        </tr>


                                    {% endfor %}

                                </tbody>
                                
                            </table>
                        </div>
                        {% comment %} <p><strong>Grand Total : ₹{{ order_detail.order_total }}</strong></p> {% endcomment %}
                        {% comment %} {% if product_ispaid == True %} {% endcomment %}
                        {% if order_detail.payment.payment_status == "FAILED" %}
                        <a href="{% url 'account_app:repay_payment' order_detail.id %}" >
                            <div class="text-center"> <!-- Add this div to center align the button -->
                                <button class="btn btn-primary">Repay from wallet</button>
                            </div>
                        </a>
                        {% else %}
                        <a href="{% url 'account_app:get_invoice' order_detail.id %}" >
                            <div class="text-center"> <!-- Add this div to center align the button -->
                                <button class="btn btn-primary">Get Invoice</button>
                            </div>
                        </a>
                        {% endif %}
                        {% if messages %}
                        {% for message in messages %}
                        <span class="error" style="position: relative;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">{{message}}</span>
                        {% endfor %}
                        {% endif %}
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cancelButtons = document.querySelectorAll('.cancel-product');
        cancelButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const url = this.getAttribute('href');
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You want to cancel this product?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, cancel it!',
                    cancelButtonText: 'No, keep it'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const cancelButtons = document.querySelectorAll('.return-product');
        cancelButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const url = this.getAttribute('href');
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You want to return this product?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, return it!',
                    cancelButtonText: 'No, keep it'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            });
        });
    });


</script>

{% endblock %}
