{% extends 'user_side/base.html' %}
{% load static %}

{% block content%}
    <main class="main">
        <section class="pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account' %}" class="nav-link " id="dashboard-tab"  role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_my_orders' %}" class="nav-link" id="orders-tab"  role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_edit_address' %}" class="nav-link" id="account-detail-tab"  role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Edit Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_change_password' %}" class="nav-link" id="track-orders-tab"  role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-lock  mr-10"></i>Change Password</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'wallet_app:wallet' %}" class="nav-link " id="track-orders-tab"  role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-credit-card mr-10"></i>Wallet</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade show active" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Billing Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>3522 Interstate<br> 75 Business Spur,<br> Sault Ste. <br>Marie, MI 49783</address>
                                                        <p>New York</p>
                                                        <a href="{% url 'account_app:account_edit_address' %}" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>4299 Express Lane<br>
                                                            Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                        <p>Sarasota</p>
                                                        <a href="{% url 'account_app:account_edit_address' %}" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %} 