{% extends 'user_side/base.html' %}
{% load static %}

{% block content%}
    <main class="main">
        <section class="pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account' %}" class="nav-link " id="dashboard-tab"  role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_my_orders' %}" class="nav-link" id="orders-tab"  role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_edit_address' %}" class="nav-link" id="account-detail-tab"  role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Edit Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'account_app:account_change_password' %}" class="nav-link " id="track-orders-tab"  role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-lock  mr-10"></i>Change Password</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'wallet_app:wallet' %}" class="nav-link active" id="track-orders-tab"  role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-credit-card mr-10"></i>Wallet</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade show active" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card mb-30">
                                            <div class="card-header">
                                                <h5>Wallet Balance: ₹{{ user_wallet.balance }}</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" id="addFundsForm">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="amount">Enter Amount to Add:</label>
                                                        <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount" required>
                                                    </div>
                                                    <button type="button" class="btn btn-primary" id="addFundsBtn">Add Funds</button>
                                                </form>
                                                {% if messages %}
                                                {% for message in messages %}
                                                <span class="error" style="position: relative;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: green;width: 190px;transition: opacity 0.5s;">{{message}}</span>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="card mt-4">
                                            <div class="card-header">
                                                <h5>Transaction History</h5>
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    {% for transaction in wallet_transaction %}
                                                    <li class="list-group-item">
                                                        {% if transaction.transaction_type == 'CREDIT' %}
                                                            <strong style="color: green;">₹{{ transaction.amount }}</strong> - {{ transaction.created_at }} - {{ transaction.transaction_type }} <span style="color:red"> <p>{{ transaction.transaction_detail }}<p></span>
                                                        {% elif transaction.transaction_type == 'DEBIT' %}
                                                            <strong style="color: red;">₹{{ transaction.amount }}</strong> - {{ transaction.created_at }} - {{ transaction.transaction_type }}
                                                        {% endif %}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById("addFundsBtn").addEventListener("click", function(event) {
        event.preventDefault();
        const amount = document.getElementById("amount").value;

        fetch("{% url 'wallet_app:wallet' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded',
                'Accept': 'application/json',
            },
            body: 'amount=' + amount
        })
        .then(response => response.json())
        .then(data => {
            console.log("data :",data)
            if (data.success) {
                console.log("data success")
                var options = {
                    key: "rzp_test_qoXpACMLfXbWKp",
                    amount: data.amount,
                    currency: "INR",
                    name: "Dapper shoes",
                    description: "Add Funds to Wallet",
                    order_id: data.order_id,
                    callback_url: "http://127.0.0.1:8000/wallet_handler/?amount=" + amount, 
                    handler: function(response) {
                        // Handle successful payment
                        alert("Payment successful!");
                        window.location.reload();
                    },
                    "prefill": {
                        "name": "{{ request.user.get_username }}",
                        "email": "{{ request.user.email }}",
                        // You can prefill other fields if needed
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);

                rzp1.on("payment.success", function (response) {
                    // console.log('Payment success:', response);
                    window.location.reload(); // Reload the page after successful payment
                    // Handle payment success, e.g., redirect to a success page
                    //window.location.href= "{% url 'order_app:success_page' %}";
                });

                rzp1.on("payment.failed", function (response) {
                    //alert(response.error.code);
                    window.location.reload();
                    
                });

                rzp1.open();
            } else {
                console.log("data fail")

                alert("Failed to create Razorpay order. Please try again.");
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert("An error occurred while processing payment.");
        });
    });
</script>
    {% endblock %} 