{% extends 'admin_side/base.html' %}
{% load static %}

{% block content%}
        <section class="content-main">
        <form action="{% url 'product_management_app:add_product' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Save Changes</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_title" name='product_title' value="{{ product.product_name }}" required>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">Brand</label>
                                <select class="form-select" id="brandSelect" name="brand" required>
                                    {% for brand in brands %} 
                                    <option value="{{brand.id}}" {% if product.product_brand == brand.id %} selected {% endif %}>{{brand.brand_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" id="categorySelect" name="category_id" required>
                                    {% for category in categories %}    
                                    <option value="{{category.id}}" >{{category.category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
    
                            <div class="mb-3">
                                <label class="form-label">Sub-category</label>
                                <select class="form-select" id="categorySelect" name="sub_category_id" required>
                                    {% for subcat in subcategory %}    
                                    <option value="{{subcat.id}}" >{{subcat.sub_category_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Product Discount Percentage (if any)</label>
                                <input type="number" placeholder="Type here" class="form-control"  name="discount_percentage" id="discount" >
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="expire_date">Expire Date</label>
                                <input type="date" class="form-control" id="expire_date" name="expire_date" disabled>
                            </div>
    
                            
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" id="description" name="description">{{ product.description }}</textarea>
                            </div>
                        </div>
                </div>


                <div class="col-lg-12">
                    <!-- Card for additional images -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="card-header">
                                <h4>Main Image</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="{% static 'assets_admin/imgs/theme/upload.svg' %}" alt="">
                                    <input type="file" class="form-control" id="category_image" name="image" required>
                                </div>
                            </div>
                        </div> <!-- card end// -->
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-header">
                                <h4>Additional Images</h4>
                            </div>
                            <div class="card-body">
                                <!-- Additional image fields -->
                                <div class="input-upload mb-3">
                                    
                                    <input type="file" class="form-control" id="additional_image_1" name="additional_image_1" multiple required>
                                </div>
                                
                                
                                <!-- End of additional image fields -->
                            </div>
                        </div> <!-- card end// -->
                    </div>
                </div>
                
            </div>
        </form>
        </section>

        <script>
            // Get references to the discount percentage and expire date input fields
            const discountInput = document.getElementById('discount');
            const expireDateInput = document.getElementById('expire_date');
        
            // Add an event listener to the discount percentage input field
            discountInput.addEventListener('input', function() {
                // Check if the discount percentage field is not empty and not equal to 0
                if (this.value.trim() !== '' && parseInt(this.value.trim()) !== 0) {
                    // Enable the expire date input field
                    expireDateInput.disabled = false;
                } else {
                    // Disable the expire date input field
                    expireDateInput.disabled = true;
                    // Reset the value of expire date input field
                    expireDateInput.value = '';
                }
            });
        </script>

{% endblock %}