{% extends 'admin_side/base.html' %}
{% load static %}

{% block content%}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Sub-categories </h2>
                    {% comment %} <p>Add, edit or delete a sub-category</p> {% endcomment %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method='post' action="{% url 'category_app:admin_sub_categories'%}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="sub-category" name="sub-category"/>
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Slug</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_slug" name="slug"/>
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Category</label>
                                    {% comment %} <input type="text" placeholder="Type here" class="form-control" id="slug" name="slug" /> {% endcomment %}
                                    <select type="text" placeholder="Type here" class="form-control" id="parent-category" name="parent-category">
                                        {% for category in categories %}
                                        <option>{{category.category_name}}</option>
                                        {% comment %} <option>Women</option>
                                        <option>Kids</option> {% endcomment %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Images</label>
                                    <input class="form-control" type="file" name="image">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="description"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create Sub-Category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% comment %} <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th> {% endcomment %}
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Slug</th>
                                            <th>Category</th>             
                                            <th>Active</th>
                                            <th>Description</th>
                                            <th>Image</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sub_category in sub_categories %}
                                        <tr>
                                            {% comment %} <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td> {% endcomment %}
                                            <td>{{sub_category.id}}</td>
                                            <td>
                                                {% comment %} {{sub_category.sub_category_name}} {% endcomment %}
                                                <a href="{% url 'category_app:edit_sub_categories' sub_category.id%}">
                                                    <strong style="font-weight: bold;">{{sub_category.sub_category_name}}</strong>
                                                </a>
                                            </td>
                                            <td>{{sub_category.sub_slug}}</td>
                                            {% comment %} <td>{{sub_category.category_id}}</td> {% endcomment %}
                                            <td>{{ sub_category.category.category_name}}</td>      
                                            <td>
                                                {% if sub_category.is_active %}
                                                    <span class="badge rounded-pill alert-success">Active</span>
                                                {% else %}
                                                    <span class="badge rounded-pill alert-danger">Inactive</span>
                                                {% endif %}
                                            </td>
                                            <td>{{sub_category.description}}</td>
                                            
                                            <td class="pt-2">
                                                {% comment %} <img src="{{sub_category.sub_category_image.url}}" style="max-width: 40px; height: auto;"></td> {% endcomment %}
                                            {% comment %} <td>{{category.created_at}}</td> {% endcomment %}
                                                {% if sub_category.sub_category_image %}
                                                    <img src="{{ sub_category.sub_category_image.url }}" style="max-width: 40px; height: auto;">
                                                {% else %}
                                                    {% comment %} <img src="{{ 'Uavailable' }}" style="max-width: 40px; height: auto;"> {% endcomment %}
                                                    <span>Unavailable</span>
                                                {% endif %}

                                            <td class="text-end">
                                                {% comment %} <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        {% comment %} <a class="dropdown-item" href="#">View detail</a> {% endcomment %}{% comment %}
                                                        <a class="dropdown-item" href="{% url 'category_app:edit_sub_categories' id=sub_category.id%}">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="{% url 'category_app:delete_sub_categories' id=sub_category.id%}">Delete</a> 
                                                    </div>
                                                </div> <!-- dropdown //end --> {% endcomment %}

                                                {% if  sub_category.is_active %}
                                                <a   href="{% url 'category_app:deactivate_sub_category' sub_category.id %}"  class="btn btn-sm font-sm alert-danger rounded block-user-btn">
                                                    Block
                                                </a>
                                                {% else %}
                                                <a   href="{% url 'category_app:activate_sub_category' sub_category.id %}" class="btn btn-sm font-sm alert-success rounded unblock-user-btn">
                                                    Unblock
                                                </a>
                                                {% endif %} 


                                            </td>
                                        </tr>
                                        {% endfor%}
                                        {% comment %} <tr>
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td><b>Men clothes</b></td>
                                            <td>Men clothes</td>
                                            <td>/men</td>
                                            <td>1</td>
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td>
                                        </tr> {% endcomment %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->

{% endblock %} 