{% extends 'admin_side/base.html' %}
{% load static %}

{% block content%}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method='post' action="{% url 'category_app:admin_categories'%}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="category" name="category" />
                                </div>
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">Slug</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="slug" name="slug" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Images</label>
                                    <input class="form-control" type="file" id="image" name="image">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" id="description" name="description"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% comment %} <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th> {% endcomment %}
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Slug</th>
                                            
                                            <th>Active</th>
                                            <th>Description</th>
                                            <th>Image</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}
                                        <tr>
                                            {% comment %} <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td> {% endcomment %}
                                            <td>{{category.id}}</td>
                                            <td><b>{{category.category_name}}</b></td>
                                            <td>{{category.slug}}</td>
                                            
                                            <td>
                                                {% if category.is_active %}
                                                    <span class="badge rounded-pill alert-success">Active</span>
                                                {% else %}
                                                    <span class="badge rounded-pill alert-danger">Inactive</span>
                                                {% endif %}
                                            </td>
                                            <td>{{category.description}}</td>
                                            <td class="pt-2">
                                                {% comment %} <img src="{{category.category_image.url}}" style="max-width: 40px; height: auto;"></td> {% endcomment %}
                                                {% if category.category_image %}
                                                    <img src="{{ category.category_image.url }}" style="max-width: 40px; height: auto;">
                                                {% else %}
                                                    {% comment %} <img src="{{ 'Uavailable' }}" style="max-width: 40px; height: auto;"> {% endcomment %}
                                                    <span>Unavailable</span>
                                                {% endif %}
                                            </td>        
                                            <td class="text-end">
                                                {% comment %} <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        {% comment %} <a class="dropdown-item" href="#">View detail</a> {% endcomment %}{% comment %}
                                                        <a class="dropdown-item" href="{% url 'category_app:edit_categories' id=category.id%}">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="{% url 'category_app:delete_categories' id=category.id%}">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end --> {% endcomment %}


                                                {% if  category.is_active %}
                                                <a   href="{% url 'category_app:deactivate_category' category.id %}"  class="btn btn-sm font-sm alert-danger rounded block-user-btn">
                                                    Block
                                                </a>
                                                {% else %}
                                                <a   href="{% url 'category_app:activate_category' category.id %}" class="btn btn-sm font-sm alert-success rounded unblock-user-btn">
                                                    Unblock
                                                </a>
                                                {% endif %} 



                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% comment %} <tr>
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td><b>Men clothes</b></td>
                                            <td>Men clothes</td>
                                            <td>/men</td>
                                            <td>1</td>
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td>
                                        </tr> {% endcomment %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->

{% endblock %} 