{% extends 'admin_side/base.html' %}
{% load static %}
{% block content %}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Edit Category</h2>
                <p>Add or update category details</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <form action=" " method="post" enctype="multipart/form-data">

                            {% csrf_token %}
                            <div class="form-group">
                                {% if messages %}
                                {% for message in messages %}
                                <span class="error" style="position: relative;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">{{message}}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-4">
                                <label for="category_name" class="form-label">Name</label>
                                <input type="text" placeholder="Enter category name" class="form-control" id="category_name" name="name" value="{{ category_object.category_name }}">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount Percentage</label>
                                <input type="number" placeholder="Type here" class="form-control" name="discount_percentage" id="discount" value="{{ category_object.discount_percentage }}">
                            </div>
                            <div class="mb-4">
                                <label for="expire_date">Expire Date</label>
                                <input type="date" class="form-control" id="expire_date" name="expire_date" value="{{ category_object.expire_date }}" {% if category_object.discount_percentage == 0 %}disabled{% endif %}>
                            </div>
                            {% comment %} <div class="mb-4">
                                <label for="category_slug" class="form-label">Slug</label>
                                <input type="text" placeholder="Enter category slug" class="form-control" id="category_slug" name="slug" value="{{ category_object.cat_slug }}">
                            </div>  {% endcomment %}
                            <div class="mb-4">
                                <label for="category_description" class="form-label">Description</label>
                                <textarea placeholder="Enter category description" class="form-control" id="category_description" name="description" >{{ category_object.description}} </textarea>
                            </div>
                            {% comment %} <div class="mb-4">
                                <label for="category_image" class="form-label">Image</label>
                                <input type="file" class="form-control" id="category_image" name="image">
                            </div> {% endcomment %}
                            
                            <div class="d-grid">
                                <a href="{% url 'category_app:edit_categories' category_object.id%}">
                                <button class="btn btn-primary">Save</button>
                                </a>
                            </div>
                        
                    </div>

                    <div class="col-md-1">
                    </div>  

                    <div class="col-lg-3 mt-2 ">
                        <div class="card mb-4 ">
                            <div class="card-header ">
                                <h4>Image</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    {% if category_object.category_image %}
                                        <img src="{{ category_object.category_image.url }}" alt="" > {% comment %}style="max-width: 100%; height: auto;"{% endcomment %}
                                        {% comment %} <input type="file" class="form-control" id="category_image" name="image"/> {% endcomment %}
                                    {% else %}
                                        <img src="{% static 'assets_admin/imgs/theme/upload.svg' %}" alt="">
                                    {% endif %}
                                    <input type="file" class="form-control" id="category_image" name="image"/>
                                
                                </div>
                            </div>
                        </div> <!-- card end// -->
                        
                    </div>
                </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Get references to the discount percentage and expire date input elements
        var discountInput = document.getElementById('discount');
        var expireDateInput = document.getElementById('expire_date');
    
        // Add an event listener to the discount percentage input field
        discountInput.addEventListener('input', function() {
            // If the discount percentage is non-zero, enable the expire date input field
            if (parseInt(this.value) !== 0) {
                expireDateInput.removeAttribute('disabled');
            } else {
                // If the discount percentage is zero, disable the expire date input field
                expireDateInput.setAttribute('disabled', 'disabled');
            }
        });
    </script>
    
{% endblock %}