{% extends 'admin_side/base.html' %}
{% load static %}

{% block content %}
<section class="content-main">
    <form id="productForm" action="{% url 'product_management_app:edit_product' product.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                    <div>
                        {% comment %} <a href=""> {% endcomment %}
                        <button id="saveBtn" class="btn btn-md rounded font-sm hover-up">Save Changes</button>
                        {% comment %} </a> {% endcomment %}
                    </div>
                </div>
                {% if messages %}
                {% for message in messages %}
                <span class="success" style="position: relative;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">{{message}}</span>
                {% endfor %}
                {% endif %}
                <div class="form-group">
                    {% if messages %}
                    {% for message in messages %}
                    <span class="error" style="position: relative;top: 100%;left: 2px;font-size:14px;font-weight: 400;color: red;width: 190px;transition: opacity 0.5s;">{{message}}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="product_title" class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_title" name='product_title' value="{{ product.product_name }}" required>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Brand</label>
                            <select class="form-select" id="brandSelect" name="brand" required>
                                {% for brand in brands %} 
                                <option value="{{brand.id}}" {% if product.product_brand == brand.id %} selected {% endif %}>{{brand.brand_name}}</option>
                                {% endfor %}
                                
                            </select>
                        </div>
                        {% comment %} </div>
                        <div class="card-body"> {% endcomment %}
                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select class="form-select" id="categorySelect" name="category_id" required>
                                {% for category in categories %}    
                                <option value="{{category.id}}" {% if product.category_id == category.id %} selected {% endif %}>{{category.category_name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Sub-category</label>
                            <select class="form-select" id="categorySelect" name="subcategory_id" required>
                                {% for subcat in subcategory %}    
                                <option value="{{subcat.id}}" {% if product.sub_category_id == subcat.id %} selected {% endif %}>{{subcat.sub_category_name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Discount Percentage</label>
                            <input type="number" placeholder="Type here" class="form-control" name="discount_percentage" id="discount" value="{{ product.discount_percentage }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="expire_date">Expire Date</label>
                            <input type="date" class="form-control" id="expire_date" name="expire_date" value="{{ product.expire_date }}" {% if product.discount_percentage == 0 %}disabled{% endif %}>
                        </div>

                        {% comment %} <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" placeholder="Type here" class="form-control" id="price" name="price" value="{{ product.product_price }}" required>
                        </div> {% endcomment %}
                        
                            {% comment %} </div>
                        </div> <!-- card end// -->
                            Image
                            <div class="card mb-4"> {% endcomment %}
                            {% comment %} <div class="card-body"> {% endcomment %}
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" rows="4" id="description" name="description">{{ product.description }}</textarea>
                        </div>
                    </div>
                </div> <!-- card end// -->

            </div>

            <div class="col-lg-3">
                <!-- Card for main image upload -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-header">
                            <h4>Image</h4>
                        </div>
                        <div class="card-body">
                            <img src="{{ product.images.url }}" class="img-thumbnail" alt="Main Image">
                            <input type="file" class="form-control mt-3" id="category_image" name="image">
                        </div>
                    </div> <!-- card end// -->
                </div>
                <!-- End of card for main image upload -->
                
                <!-- Card for additional images -->
                 {% comment %} <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-header">
                            <h4>Additional Images</h4>
                        </div>
                        <div class="card-body">
                            <!-- Additional image fields -->
                            {% for image in product.product_images.all %}
                            <div class="input-upload mb-3">
                                <img src="{{ image.image.url }}" class="img-thumbnail" alt="Additional Image">
                                {% comment %} <input type="file" class="form-control mt-3" name="additional_image_{{ forloop.counter }}" multiple> {% endcomment %}{% comment %} 
                                <input type="file" class="form-control mt-3" name="additional_image_1" multiple>

                            </div>
                            {% endfor %}
                            <!-- End of additional image fields -->
                        </div>
                    </div> <!-- card end// -->
                </div>  {% endcomment %}
                <!-- End of card for additional images -->
            </div>
        </div>
    </form>
   
</section>

{% comment %} <div id="errorContainer"></div> {% endcomment %}
<script>
    // Get references to the discount percentage and expire date input elements
    var discountInput = document.getElementById('discount');
    var expireDateInput = document.getElementById('expire_date');

    // Add an event listener to the discount percentage input field
    discountInput.addEventListener('input', function() {
        // If the discount percentage is non-zero, enable the expire date input field
        if (parseInt(this.value) !== 0) {
            expireDateInput.removeAttribute('disabled');
        } else {
            // If the discount percentage is zero, disable the expire date input field
            expireDateInput.setAttribute('disabled', 'disabled');
        }
    });
</script>




{% endblock %}
