{% extends 'admin_side/base.html' %}
{% load static %}

{% block content%}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                </div>
                <div>
                    {% comment %} <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> {% endcomment %}
                    <a href="{% url 'product_management_app:add_product' %}" class="btn btn-primary btn-sm rounded">Add new product</a>
                </div>
            </div>
            <div class="card mb-4">
                {% comment %} <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Men</option>
                                <option>Women</option>
                                <option>Kids</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// --> {% endcomment %}
                <div class="card-body">
                    <article class="itemlist">

                        {% comment %} <div class="col-md-9"> {% endcomment %}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% comment %} <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th> {% endcomment %}
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th>Sub-category</th>
                                            <th>Brand</th>
                                            <th>Active</th>
                                            {% comment %} <th>Description</th> {% endcomment %}
                                            <th>Image</th>
                                            <th class="text-end">Product variants&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for product in products %}
                                            <tr>
                                                {% comment %} <td class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" />
                                                    </div>
                                                </td> {% endcomment %}
                                                <td>{{product.id}}</td>
                                                <td>
                                                    <a href="{% url 'product_management_app:edit_product' id=product.id%}">
                                                        <strong style="font-weight: bold;">{{product.product_name}}</strong>
                                                    </a>
                                                </td>
                                                <td>{{product.category}}</td>
                                                <td>{{product.sub_category}}</td>
                                                <td>{{product.product_brand}}</td>
                                                <td>
                                                    {% if product.is_active %}
                                                        {% comment %} <span class="btn btn-sm font-sm alert-success rounded">Active</span> {% endcomment %}
                                                        <a  href="{% url 'product_management_app:deactivate_product' product.id %}"  class="btn btn-sm font-sm alert-success rounded block-user-btn">
                                                            Listed
                                                        </a>
                                                    {% else %}
                                                        {% comment %} <span class="btn btn-sm font-sm alert-danger rounded ">Inactive</span> {% endcomment %}
                                                        <a   href="{% url 'product_management_app:activate_product' product.id %}" class="btn btn-sm font-sm alert-danger rounded unblock-user-btn">
                                                            Unlisted
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                {% comment %} <td>{{product.description}}</td> {% endcomment %}
                                                <td class="pt-2">
                                                    {% comment %} <img src="{{category.category_image.url}}" style="max-width: 40px; height: auto;"></td> {% endcomment %}
                                                    {% if product.images %}
                                                        <img src="{{ product.images.url }}" style="max-width: 40px; height: auto;">
                                                    {% else %}
                                                        {% comment %} <img src="{{ 'Uavailable' }}" style="max-width: 40px; height: auto;"> {% endcomment %}
                                                        <span>Unavailable</span>
                                                    {% endif %}
                                                </td>        
                                                <td class="text-end">
                                                    {% comment %} <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            {% comment %} <a class="dropdown-item" href="#">View detail</a> {% endcomment %}{% comment %}
                                                            <a class="dropdown-item" href="{% url 'product_management_app:edit_product' id=product.id%}">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="{% url 'product_management_app:delete_product' slug=product.product_slug%}">Delete</a> 
                                                        </div>
                                                    </div> <!-- dropdown //end --> {% endcomment %}
                                                    {% if  product.is_active %}
                                                    <a href="{% url 'product_management_app:variant_list' product.id %}" class="btn btn-sm font-sm btn-light rounded block-user-btn" style="text-decoration: none; color: black; display: inline-block;" onmouseover="this.style.color='#0000FF';" onmouseout="this.style.color='black';">
                                                        &nbsp;&nbsp;&nbsp;Click here&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                        
                                                      
                                                    {% else %}
                                                    <a   href="#" class="btn btn-sm font-sm btn-light rounded unblock-user-btn" style="background-color: #808080; color: #ffffff;" onmouseover="this.style.backgroundColor='#555555'" onmouseout="this.style.backgroundColor='#808080'">
                                                        Product is unlisted
                                                    </a>
                                                    {% endif %} 
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% comment %} <tr>
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td><b>Men clothes</b></td>
                                            <td>Men clothes</td>
                                            <td>/men</td>
                                            <td>1</td>
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            </td>
                                        </tr> {% endcomment %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        {% comment %} </div> <!-- .col// -->     {% endcomment %}













                        {% comment %} <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="left">
                                        <img src="{% static 'assets_admin/imgs/items/4.jpg' %}" class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0">Fanmis Men's Travel Bag</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>$18.00</span> </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-success">Active</span>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-date">
                                <span>02.11.2021</span>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="#" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a>
                            </div>
                        </div> <!-- row .// --> {% endcomment %}
                    </article> <!-- itemlist  .// -->
                    {% comment %} <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="left">
                                        <img src="{% static 'assets_admin/imgs/items/3.jpg' %}" class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0">Jeans Shorts for Men</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>$76.99</span> </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <span class="badge rounded-pill alert-danger">Disabled</span>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-date">
                                <span>02.11.2021</span>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="#" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a>
                            </div>
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// --> {% endcomment %}
                    
                    

                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            {% comment %} <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> {% endcomment %}
        </section> <!-- content-main end// -->

{% endblock %} 